* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("t.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 30px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: aliceblue;
  padding: 5px 25px;
  transition: 0.6s ease;
  border: 1px solid #fff;
  border-radius: 12px;
  font-size: 13px;
}

ul li a:hover {
  background-color: aliceblue;
  color: black;
}

.logo img {
  float: left;
  width: 130px;
  height: auto;
  margin-top: -25px;
}

.main {
  max-width: 1200px;
  margin: auto;
}

.heading h2 {
  font-size: 20px;
  font-style: bold;
  font-family: "Poppins", sans-serif;
  color: white;
  position: absolute;
  top: 15%;
  left: 7%;
  opacity: 0.3;
}

.title h2 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: white;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.title p {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: rgb(196, 190, 190);
  position: absolute;
  top: 60%;
  left: 59%;
  transform: translate(-50%, -50%);
}

.button {
  position: absolute;
  top: 450px;
  left: 650px;
  transform: translate(-50%, -50%);
  color: #998d8d;
}

span {
  color: #910c4e;
  font-weight: bold;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: 0.7s ease;
  background: transparent;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  background-color: thistle;
}
